.cart-container{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:40px;
    padding:60px;
}

.cart-items{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.cart-card{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr auto;
    align-items:center;
    background:#fff;
    padding:20px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}
.cart-product{
    display:flex;
    align-items:center;
    gap:20px;
}

.cart-img{
    width:80px;
    height:80px;
    object-fit:cover;
    border-radius:10px;
}
.cart-qty{
    display:flex;
    align-items:center;
    gap:10px;
}

.qty-minus,
.qty-plus{
    width:30px;
    height:30px;
    border-radius:50%;
    border:none;
    background:#c46b6b;
    color:white;
    cursor:pointer;
}

.cart-summary{
    background:#fff;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
    height:fit-content;
}

.summary-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
}

.summary-row.total{
    font-weight:700;
    font-size:18px;
}

.checkout-btn{
    width:100%;
    margin-top:20px;
    padding:14px;
    background:#c46b6b;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}