*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

/* BACKGROUND */

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background: linear-gradient(
90deg,
#c08aa8,
#d2b5cc,
#c7b8cf,
#1a1f3b
);
}


/* MAIN CONTAINER */

.container{
display:flex;
align-items:center;
gap:80px;
}


/* FORM CARD */

.form-card{
    width:420px;
    padding:60px;

    border-radius:25px;

    background:rgba(255,255,255,0.2);


    -webkit-backdrop-filter: blur(10px); /* Safari support */
    backdrop-filter: blur(10px);

    border:1px solid rgba(255,255,255,0.3);
}


/* TITLE */

.form-card h2{
text-align:center;
margin-bottom:40px;
font-size:28px;
color:#5c4b60;
}


/* INPUT */

.input-box{
position:relative;
margin-bottom:25px;
}

.input-box input{

width:100%;
padding:10px 35px 10px 0;

border:none;
border-bottom:2px solid #333;

background:transparent;
outline:none;

font-size:15px;
}


.input-box i{
position:absolute;
right:0;
top:50%;
transform:translateY(-50%);
color:#000;
}


/* BUTTON */

.signup-btn{

width:100%;
padding:14px;

border:none;
border-radius:30px;

margin-top:10px;

font-size:16px;
font-weight:600;

color:white;

cursor:pointer;

background:linear-gradient(
180deg,
#8f5a8c,
#1c2040
);

transition:0.3s;
}

.signup-btn:hover{
transform:scale(1.03);
}


/* TEXT */

.login-text{
margin-top:25px;
text-align:center;
color:#333;
font-size:14px;
}


/* IMAGE */

.image-box{

width:420px;
height:420px;

background:#0b0e27;

border-radius:40px;

display:flex;
align-items:center;
justify-content:center;

box-shadow:0 20px 40px rgba(0,0,0,0.4);
overflow: hidden;
}

.image-box img{
width:100%;
height: 100%;
object-fit: cover;
}
.login-text a{
    text-decoration:none;
    color:#4b2d5e;
    font-weight:600;
}

.login-text a:hover{
    text-decoration:underline;
}